@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(43, 41, 41);
    height: 8vh;
    width: 100vw;
    justify-content: space-between;
}

.header p {
    color: white;
}

.title {
    font-size: 30px;
    font-weight: 800;
    margin-left: 110px;
}

.elements {
    display: flex;
    gap: 60px;
}

.element {
    cursor: pointer;
}

.push {
    margin-right: 90px;
}

.element::after {
    content: '';
    display: block;
    height: 1.6px;
    width: 0%;
    background-color: white;
    transition: width 400ms;
}

.element:hover::after {
    text-decoration: overline;
    width: 100%;
}

.element:active {
    transform: translateY(2px);
}

.mainSite {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 92vh;
    background-color: rgb(34, 34, 34);
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(77, 77, 77);
    width: 70vw;
    height: 80vh;
    margin-top: 5vh;
    gap: 25px;
    padding: 20px;
}

.mainElements:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    background-color: aquamarine;
}

.mainElements:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    background-color: rgb(168, 255, 127);
}

.mainElements:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
    background-color: rgb(197, 112, 223);
}
.mainElements:nth-child(4) {
    grid-row: 2;
    grid-column: 1;
    background-color: rgb(93, 25, 114);
}

.mainElements:nth-child(5) {
    grid-row: 2;
    grid-column: 2;
    background-color: rgb(93, 192, 154);
}

.mainElements:nth-child(6) {
    grid-row: 2;
    grid-column: 3;
    background-color: rgb(180, 107, 74);
}

.mainElements:nth-child(7) {
    grid-row: 3;
    grid-column: 1;
    background-color: rgb(204, 162, 162);
}

.mainElements:nth-child(8) {
    grid-row: 3;
    grid-column: 2;
    background-color: rgb(62, 218, 192);
}

.mainElements:nth-child(9) {
    grid-row: 3;
    grid-column: 3;
    background-color: rgb(77, 38, 38);
}